
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body {
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none; 
}
#root{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-limiter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
